@import 'tailwindcss';

body, #app {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}



[dark] {
  --primary-bg: black;  
}

:root {
  --primary-bg: white;
}

body {
  background-color: var(--xd);
}
