@import 'tailwindcss';

body, #app {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}



[dark] {
  --primary-bg: black;  
}

:root {
  --primary-bg: white;
}

@font-face {
  font-family: "Burbank Big Condensed Bold";
  font-style: normal;
  font-weight: auto;
  font-display: swap;
  src: url("/fonts/BurbankBigCondensedBold.otf") format("opentype");
}

@font-face {
  font-family: "Minecraft";
  font-style: normal;
  font-weight: auto;
  font-display: swap;
  src: url("/fonts/MinecraftRegular.otf") format("opentype");
}

@theme {
  --font-burbank: "Burbank Big Condensed Bold";
  --font-minecraft: "Minecraft";
}